.path-1 {
  fill: #5a3392;
}

.path-2 {
  fill: #ee746c;
}

.path-3 {
  fill: #29a3ec;
}

.path-4 {
  fill: #3cdef6;
}

.path-5 {
  fill: #fb9761;
}

.path-6 {
  fill: #29a3ec;
}

.path-7 {
  fill: #3cdef6;
}
